<!DOCTYPE html>
<html>
<head>
    <title>Example SAML Client</title>
</head>
<body>
    <header>
        <h1>Example SAML Client</h1>
        <div>
            <% if (!locals.isLoggedIn) { %>
            <a href="/Login">Get yourself logged in</a>
            <% } else { %>
            <span>Welcome <%=user.name%></span>
            <% } %>
        </div>
    </header>
</body>
</html>